<h1>New Coupon</h1>
<div class="large-5 columns">
<<<<<<< HEAD
    <%= form_for @coupon do |form| %>
		    <%= form.label :discount %>
        <%= form.text_field :discount %>

        <%= form.label :active_date %>
        <%= form.date_field :active_date %>
=======
    <%= form_for @Coupon do |form| %>
		    <%= form.label :discount %>
        <%= form.text_field :discount %>

        <%= form.label :activate_date %>
        <%= form.date_field :activate_date %>
>>>>>>> 6ddcd94d97b41b70766dccbccb968ea53a12cf4d

        <%= form.label :deactivate_date %>
        <%= form.date_field :deactivate_date %>

				<%= form.label :image %>
				<%= form.file_field :image %> 

        <%= form.submit "Create" %>
    <% end %>
</div>
