<h1>Add a new Recipe</h1> 
<div class="large-5 column">	
	<%= form_for @recipe do |form| %>

		<%= form.label :name, "Title"%>
		<%= form.text_field :name %>

		<%= form.label :preptime, "Estimated Pretime" %> 
		<%= form.text_field :preptime %>
		
		<%= form.label :cooktime, "Estimated Cooktime"%>
		<%= form.text_field :cooktime %>

		<%= form.label :image, "Image"%>
		<%= form.file_field :image %>

		<%= form.label :directions, "directions"%>
		<%= form.text_area :directions %>
         
		<br/>	
		<%= form.submit "Create" %>

	<% end %>
</div>
