<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area"> 
        <li class="name"> 
            <h1><%= link_to "Home", root_path %></h1>
        </li> 
        <li class="toggle-topbar menu-icon">
            <a href="#"><span>Menu</span></a>
        </li> 
    </ul> 
    <section class="top-bar-section"> 
        <!-- Right Nav Section --> 
        <ul class="right"> 
            <li class="active">
                <% if current_user %>
                    <%= link_to "Logout", sessions_destroy_path, :method => :post %>
                <% else %>
                    <%= link_to "Login", sessions_new_path %>
                <% end %>
            </li> 
            <% if current_user %>
                <li class="has-dropdown not-click"> 
                    <%= link_to "#{current_user.name}", customer_path(current_user) %>
                    <ul class="dropdown"> 
                        <li>
                            <%= link_to "Profile", customer_path(current_user) %>
                        </li> 
                        <li>
                            <%= link_to "Edit profile", edit_customer_path(current_user) %>
                        </li> 
                    </ul> 
                </li> 

            <% end %>
            <li class="has-dropdown not-click"> 
                <a href="#">Menu Dropdown</a>
                <ul class="dropdown"> 
                    <li>
                        <a href="#">First link</a>
                    </li> 
                    <li class="active">
                        <a href="#">Active link</a>
                    </li> 
                </ul> 
            </li> 
        </ul> 
        
        <!-- Left Nav Section --> 
        <ul class="left"> 
            <li>
                <a href="#">Redirect</a>
            </li>
        </ul> 
    </section> 
</nav>
