<h1>Registration</h1>
<div class="large-5 columns">
    <%= form_for @customer do |form| %>
        <%= form.label :email %>
        <%= form.text_field :email %>
        
        <%= form.label :name %>
        <%= form.text_field :name %>

        <%= form.label :dob, "Date of Birth" %>
        <%= form.date_field :dob %>

        <%= form.label :gender %>
        
        <%= form.radio_button("gender", "Male") %>
        <%= form.label "Male" %>

        <%= form.radio_button("gender", "Female") %>
        <%= form.label "Female" %>

        <%= form.label :location %>
        <%= form.text_field :location %>

        <%= form.label :password %>
        <%= form.password_field :password %>

        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation %>

        <%= form.submit "Register" %>
    <% end %>
</div>
